<% include header %>

<script  type="text/javascript">
  function formatDate(strDate){
    var dtDate = new Date(strDate);
    var month = dtDate.getMonth() +1;
    var strDate ="";
    strDate += (month <10 ? "0"+month : month );
    strDate += "月";
    strDate += (dtDate.getDate()<10 ? "0"+dtDate.getDate():dtDate.getDate() );
    strDate += " ";
    strDate += dtDate.getFullYear();
  
    return strDate;
  }
</script>

<div id="main">
  <article class="post detail">
      <div class="meta">
        <div>
          <span class="date">
            <script> document.write(formatDate( `<%= item['create_time'] %>` ))  </script>
          </span>
        </div>
      </div>
      <h1 class="title">
        <%= item['title'] %>
      </h1>
  
      <div class="entry-content">
        <%- item['content'] %>
      </div>
      <p>本文链接：<a href="/<%= item['pathname'] %>.html"><%= href %></a></p>
      
  </article>
  
<% include footer %>